name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_test:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v4

      - name: Set up Java (21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: "21"

      - name: Build
        run: mvn -B -DskipTests package

      - name: Test
        run: mvn test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: target/

